<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Carros</title>
</h:head>
<h:body>
	<h:form>
		Marca:
		<h:inputText value="#{carroBean.carro.marca}" required="true" />
		Placa:
		<h:inputText value="#{carroBean.carro.placa}" required="true" />
		Cor:
		<h:inputText value="#{carroBean.carro.cor}" required="true" />
		Fabricante:
		<h:inputText value="#{carroBean.carro.fabricante}" required="true" />
		Ano:
		<h:inputText value="#{carroBean.carro.ano}" required="true" />
		<h:commandButton value="Cadastrar" action="#{carroBean.adicionar()}" />
		<h:dataTable></h:dataTable>
		<ol>
			<ui:repeat var="c" value="#{carroBean.carros}">
				<li>#{c.marca} - #{c.placa} - #{c.cor} - #{c.fabricante} - #{c.ano}</li>	
			</ui:repeat>
		</ol>
	</h:form>
</h:body>
</html>